{% extends "base.html.twig" %}

{% block body %}
    <form action="{{ path('garage_add', {id: app.user.id})}}" method="post">
    name : <input type="text" name="name">
    street: <input type="text" name="street">
    streetcomplement : <input type="text" name="streetcomplement">
    postalcode: <input type="text" name="postal">
    city: <input type="text" name="city">
    siret: <input type="text" name="siret">
    <button type="submit">Créer</button>
    </form>
{% endblock %}