{% extends "base.html.twig" %}
{% block body %}
<h1>Bonjour Mr {{app.user.lastname}}</h1>
<a href=" {{ path('garage_add', {id: app.user.id})}}">Ajouter un garage</a>
 
 {% for garage in garages %}
     <h2> Nom du garage :  {{ garage.name }} </h2>
    <a href=" {{ path('listing_add', {id: garage.id})}}">Ajouter une annonce</a>
 {% endfor %}
     
 {% endblock %}