{% extends "base.html.twig" %}

{% block body %}
    <form action="{{ path('listing_add', {id: garage.id})}}" method="post">
    title : <input type="text" name="title">
    releaseYear: <input type="date" name="year">
    km : <input type="text" name="km">
    price: <input type="text" name="price">
    brand: <input type="text" name="brand">
    model: <input type="text" name="model">
    <select name="fuel">
        <option>Gasole</option>
        <option>Essence</option>
        <option>Hybrid</option>
        <option>Electric</option>
    </select>
    description: <input type="text" name="description">
    photo: <input type="file" name="picture">
    <button type="submit">Créer</button>
    </form>
{% endblock %}