{% extends "base.html.twig" %}
{% block body %}
<h1>Annonces</h1>
<a href=" {{ path('listing_add', {id: app.garage.id})}}">Ajouter une annonce</a>
 {% for listing in listings %}
     <h2> Nom du l'annonce :  {{ listing.title }} </h2>
  
 {% endfor %}
     
 {% endblock %}