{% extends "base.html.twig" %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}

    <form action="" method="post">
    lastname : <input type="text" name="lastname">
    firstname: <input type="text" name="firstname">
    phone : <input type="text" name="phone">
    siren: <input type="text" name="siren">
    Email: <input type="email" name="email">
    password: <input type="text" name="password">
    Garage: <input type="text" name="garages">
    Username: <input type="text" name="username">
    <button type="submit">Créer</button>
    </form>
{% endblock %}